{% extends "base.html" %}
{% set section = "history" %}
{% block body %}
	{% if downloads %}
		<table width="100%" class="list" border="0" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<td>Download</td>
					<td>Size</td>
					<td>Type</td>
					<td>Date</td>
					{% if user.admin %}
					<td>User</td>
					{% endif %}
				</tr>
			</thead>
			<tbody>
			{% for dl in downloads %}
				<tr>
					<td>{{ dl.description }}</td>
					<td style="white-space: pre;">{{ dl.size|filesizeformat }}</td>
					<td style="white-space: pre;">{{ mediatypes[dl.media_type] }}</td>
					<td style="white-space: pre;">{{ dl.completed|timestampformat('%Y/%m/%d %H:%M') }}</td>
					{% if user.admin %}
					<td style="white-space: pre;">{{ dl.user.username }}</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>There are no downloads recorded.</p.
	{% endif %}
{% endblock %}
