{% if not standalone %}<!DOCTYPE html>
<html class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title }} - Downpour</title>
        <meta name="description" content="Downpour web-based BitTorrent manager">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/media/css/normalize.css">
        <link rel="stylesheet" href="/media/css/meters.css">
        <link rel="stylesheet" href="/media/css/main.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="/media/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/media/js/vendor/jquery.nicescroll.min.js"></script>
        <script src="/media/js/vendor/spin.min.js"></script>
        <script src="/media/js/main.js"></script>
		{% block head %}
		{% endblock %}
    </head>

	<body>

		<div id="header" class="clearfix">
			<div class="mobile">
				<a href="/notifications/">
					<span class="fa-stack fa-lg unread">
						<span class="fa fa-lg fa-stack-1x fa-square"></span>
						<span class="fa-stack-1x unread-count">{{ notifications|count }}</span>
					</span>
				</a>
			</div>
			<div id="menutoggle" class="mobile clearfix">
				<div id="menu">
					<span id="menuicon" class="fa fa-bars"></span>
					<img src="/media/images/downpour-icon-white.png" />
				</div>
				<h1>{{ title }}</h1>
			</div>
			<div class="desktop">
				<a href="/"><div id="logo"><img src="/media/images/downpour-logo.png"/></div></a>
				<div id="account">
					{% if user %}
						Logged in as {{ user.username }}
						- <a href="/account/edit">My Account</a>
						- <a href="/account/logout">Logout</a>
					{% else %}
						Not logged in
						- <a href="/account/login">Login</a>
					{% endif %}
				</div>
			</div>
		</div>

		<div id="navigation">
			<ul>
				<li title="Downpour"{% if section == 'overview' %} class="active"{% endif %}><a href="/">Overview</a></li>
				<li{% if section == 'transfers' %} class="active"{% endif %}><a href="/transfers/">Transfers</a></li>
                <li{% if section == 'files' %} class="active"{% endif %}><a href="/files/">Files</a></li>
                <li{% if section == 'library' %} class="active"{% endif %}><a href="/library/">Media Library</a></li>
                {{ pluginblock('sidelink') }}
				<li{% if section == 'search' %} class="active"{% endif %}><a href="/search/">Search</a></li>
				<li{% if section == 'notifications' %} class="active"{% endif %}>
					<span class="fa-stack fa-lg unread">
						<span class="fa fa-lg fa-stack-1x fa-square"></span>
						<span class="fa-stack-1x unread-count">{{ notifications|count }}</span>
					</span>
					<a href="/notifications/">Notifications</a>
				</li>
				<li{% if section == 'status' %} class="active"{% endif %}><a href="/status/">System Status</a></li>
			</ul>
            {{ pluginblock('sidesection') }}
			{% if shares %}
				<h4>Remote Shares</h4>
				<ul>
					<li><a href="/share/1">Jeremy</a></li>
					{% for s in shares %}
						<li{% if section == ['share', s.id]|join('_') %} class="active"{% endif %}><a href="/shares/{{ s.id }}/browse/">{{ s.name }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
			<h4>Settings</h4>
			<ul>
                {{ pluginblock('settinglink') }}
				<li{% if section == 'media-types' %} class="active"{% endif %}><a href="/media-types/">Media Types</a></li>
				<li{% if section == 'shares' %} class="active"{% endif %}><a href="/shares/">Remote Shares</a></li>
				<li{% if section == 'media-center' %} class="active"{% endif %}><a href="/media-center/">Media Center Sync</a></li>
				<li{% if section == 'advanced' %} class="active"{% endif %}><a href="/advanced/">Advanced</a></li>
			</ul>
			{% if user.admin %}
			<h4>Administration</h4>
			<ul>
                {{ pluginblock('adminlink') }}
				<li{% if section == 'work' %} class="active"{% endif %}><a href="/work/">Download Cache</a></li>
				<li{% if section == 'users' %} class="active"{% endif %}><a href="/users/">Users</a></li>
				<li{% if section == 'settings' %} class="active"{% endif %}><a href="/settings/">Settings</a></li>
			</ul>
			{% endif %}
			<div class="mobile">
				<h4>Account</h4>
				<ul>
					{% if user %}
					<li{% if section == 'account' %} class="active"{% endif %}><a href="/account/edit">My Account</a></li>
					<li class="active"><a href="/account/logout">Logout</a></li>
					{% else %}
					<li class="active"><a href="/account/login">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>

		{% if unsupported %}
		<div class="unsupported">
			<div class="fa fa-times remove"></div>
			<b>Unsupported Browser</b><br />
			Your browser does not support many of the features used in Downpour.
			Please upgrade to a <a href="http://browsehappy.com/">newer browser</a>.
		</div>
		{% endif %}

		<div id="content" class="clearfix">
            {% endif %}{% block body %}
			{% endblock %}{% if not standalone %}
		</div>

		<div id="footer">
			Downpour v{{ version }}
		</div>

    </body>

</html>{% endif %}
