{% if not standalone %}{% extends "base.html" %}{% endif %}
{% block body %}
<div class="notice">
	All transfers are currently paused. <a href="/status/resume">Click to resume transfers</a>
</div>

<div class="column main">
	<div class="columnContent">
		<a href="/transfers/downloads">View All</a>
		<div class="section">Downloading</div>
		<div class="boxContent">
			<div class="transferSummary">
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health good"></div>
					</div>
					<div class="label"><a href="/transfers/1">Grimm.S03E08.HDTV.x264-LOL.[VTV].mp4</a></div>
					<div class="progress">
						<div class="meter animate"><span style="width: 100%"></span><div>Importing</div></div>
					</div>
				</div>
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health unknown"></div>
					</div>
					<div class="label"><a href="/transfers/1">Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4</a></div>
					<div class="progress">
						<div class="meter animate"><span style="width: 22.7%"></span><div>22.7%</div></div>
					</div>
				</div>
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health dead"></div>
					</div>
					<div class="label"><a href="/transfers/1">Haven.S04E13.HDTV.x264-EXCELLENCE.[VTV].mp</a></div>
					<div class="progress">
						<div class="meter red"><span style="width: 78.0%"></span><div>78.0%</div></div>
					</div>
				</div>
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health average"></div>
					</div>
					<div class="label"><a href="/transfers/1">Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4</a></div>
					<div class="progress">
						<div class="meter blue animate"><span style="width: 100%"></span><div>Seeding</div></div>
					</div>
				</div>
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health bad"></div>
					</div>
					<div class="label"><a href="/transfers/1">Grimm.S03E08.HDTV.x264-LOL.[VTV].mp4</a></div>
					<div class="progress">
						<div class="meter"><span style="width: 72.9%"></span><div>72.9%</div></div>
					</div>
				</div>
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health poor"></div>
					</div>
					<div class="label"><a href="/transfers/1">Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4</a></div>
					<div class="progress">
						<div class="meter animate"><span style="width: 22.7%"></span><div>22.7%</div></div>
					</div>
				</div>
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health good"></div>
					</div>
					<div class="label"><a href="/transfers/1">Haven.S04E13.HDTV.x264-EXCELLENCE.[VTV].mp</a></div>
					<div class="progress">
						<div class="meter red"><span style="width: 78.0%"></span><div>78.0%</div></div>
					</div>
				</div>
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health bad"></div>
					</div>
					<div class="label"><a href="/transfers/1">Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4</a></div>
					<div class="progress">
						<div class="meter blue animate"><span style="width: 100%"></span><div>Seeding</div></div>
					</div>
				</div>
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health excellent"></div>
					</div>
					<div class="label"><a href="/transfers/1">Grimm.S03E08.HDTV.x264-LOL.[VTV].mp4</a></div>
					<div class="progress">
						<div class="meter animate"><span style="width: 72.9%"></span><div>72.9%</div></div>
					</div>
				</div>
				<div class="queued">
					<a href="/transfers/">and 9 more queued...</a>
				</div>
			</div>
		</div>
	</div>
	<div class="columnContent">
		<a href="/transfers/uploads">View All</a>
		<div class="section">Sharing / Seeding</div>
		<div class="boxContent">
			<div class="transferSummary">
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health unknown"></div>
					</div>
					<div class="label"><a href="/transfers/1">Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4</a></div>
					<div class="progress">
						<div class="meter animate"><span style="width: 22.7%"></span><div>22.7%</div></div>
					</div>
				</div>
				<div class="transfer clearfix">
					<div class="healthmeter">
						<div class="health average"></div>
					</div>
					<div class="label"><a href="/transfers/1">Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4</a></div>
					<div class="progress">
						<div class="meter blue animate"><span style="width: 100%"></span><div>Seeding</div></div>
					</div>
				</div>
				<div class="queued">
					<a href="/transfers/">and 2 more...</a>
				</div>
			</div>
		</div>
	</div>
	<div class="columnContent">
		<a href="/transfers/history">View All</a>
		<div class="section">Recently Imported</div>
		<div class="boxContent">
			<div class="transferSummary">
				<div class="transfer clearfix">
					<div class="date">12/1</div>
					<div class="imported"><a href="/transfers/1">Hawaii.Five-0.2010.S04E10.mp4</a> <span class="mediaType">(TV Series, 183 MB)</span></div>
				</div>
				<div class="transfer clearfix">
					<div class="date">12/2</div>
					<div class="imported"><a href="/transfers/1">Haven.S04E13.HDTV.x264-EXCELLENCE.[VTV].mp4</a> <span class="mediaType">(243 MB)</span></div>
				</div>
				<div class="transfer clearfix">
					<div class="date">12/10</div>
					<div class="imported"><a href="/transfers/1">Thor 2 (2013).mp4</a> <span class="mediaType">(Movie, 793 MB)</span></div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="column side desktop">
	<div class="box columnContent">
		<h4 class="hostHeader lightgray-bg clearfix">
			<span class="host">media-center</span>
			<span class="ip">IP: 46.246.38.178</span>
		</h4>
		<div class="hostMetric download">
			<div class="title">Downloads</div>
			<div class="value">2.3 MB/s</div>
		</div>
		<div class="hostMetric upload">
			<div class="title">Uploads</div>
			<div class="value">25.6 KB/s</div>
		</div>
		<div class="hostMetric connections">
			<div class="title">Connections</div>
			<div class="value">198</div>
		</div>
		<div class="hostDisk clearfix">
			<div class="title">Media Volume</div>
			<div class="free">
				<div class="meter yellow nostripes">
					<span style="width: 85%;"></span><div>15% Free (150 GB)</div>
				</div>
			</div>
			<div class="title">System Volume</div>
			<div class="free">
				<div class="meter nostripes">
					<span style="width: 40%;"></span><div>60% Free (600 GB)</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="column side desktop">
	<div class="box columnContent">
		<h4>Notifications</h4>
		<div class="boxContent">
			Something needs your attention
		</div>
	</div>
</div>

<div class="column side desktop">
	<div class="box columnContent">
		<h4>Now Available</h4>
		<div class="boxContent">
			<div class="section">Feeds</div>
			<div class="nowAvailable">
				Grimm.S03E08.HDTV.x264-LOL.[VTV].mp4
				Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4
				Haven.S04E13.HDTV.x264-EXCELLENCE.[VTV].mp4
			</div>
			<div class="section">Saved Searches</div>
			<div class="nowAvailable">
				Grimm.S03E08.HDTV.x264-LOL.[VTV].mp4
				Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4
				Haven.S04E13.HDTV.x264-EXCELLENCE.[VTV].mp4
			</div>
		</div>
	</div>
</div>

{% endblock %}
