<div ng-show="state.paused" class="paused notice">
	All transfers are currently paused. <a href="/status/resume">Click to resume transfers</a>
</div>

<div class="box columnContent mobile">
    <ng-include src="'/resources/templates/common/host-stats-bandwidth.html'"></ng-include>
</div>

<div class="column main" ng-controller="TransferList">

	<div class="columnContent desktop">
        <div class="addDownload clearfix">
            <div class="label green-bg"><div>Add</div></div>
            <div class="addDownloadMethods">
                <div class="addDownloadMethod">
                    <form class="ajaxForm" action="/transfers/add/url" method="post">
                        <a class="submit green-bg" href="#">Fetch URL</a>
                        <div class="addInput">
                            <input type="text" name="url" value="" placeholder="URL to download (magnet or http)" />
                        </div>
                    </form>
                </div>
                <div class="addDownloadMethod uploadMetadata">
                    <form class="ajaxForm" action="/transfers/add/torrent" enctype="multipart/form-data" method="post">
                        <a class="submit green-bg" href="#">Upload</a>
                        <div class="addInput">
                            <input type="file" id="metadata-upload" name="metadata" />
                            <input type="text" id="metadata-proxy" readonly="1" placeholder="Select torrent file" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="columnContent">
		<a href="/transfers/downloads">View All</a>
		<div class="section">Downloading</div>
		<div class="boxContent">
			<div class="transferSummary">
				<div ng-repeat="transfer in downloads" ng-include="'/resources/templates/transfers/transfer-progress-small.html'"></div>
                <div ng-show="queued.length" class="queued">
                    <a href="/transfers/downloads">and {{ queued.length }} more queued...</a>
                </div>
			</div>
		</div>
	</div>

    <div class="columnContent">
        <a href="/transfers/uploads">View All</a>
        <div class="section">Seeding</div>
        <div class="boxContent">
            <div class="transferSummary">
                <div ng-repeat="transfer in uploads.slice(0,3)" ng-include="'/resources/templates/transfers/transfer-progress-small.html'"></div>
                <div ng-show="uploads.length > 3" class="queued">
                    <a href="/transfers/uploads">and {{ uploads.length - 3 }} more...</a>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="block in mainblocks" ng-include="block.template" ng-controller="{{ block.controller }}"></div>

</div>

<div class="column side desktop">
	<div class="box columnContent">
        <ng-include src="'/resources/templates/common/host-stats.html'"></ng-include>
	</div>
</div>

<div class="column side desktop" ng-show="notifications.length">
	<div class="box columnContent">
		<h4>Notifications</h4>
		<div class="boxContent">
			<div ng-repeat="n in notifications.slice(0,3)" class="notification">
				<span class="fa fa-fw fa-lg fa-check-circle" ng-class="{
				    'fa-check-circle': n.level == 'info',
				    'fa-exclamation-circle': n.level == 'warn',
				    'fa-exclamation-triangle': n.level == 'error'
				}"></span>
				<span><a href="{{ n.url }}">{{ n.title }}</a></span>
				<span class="fa fa-times remove"></span>
			</div>
            <div ng-show="notifications.length > 3" class="queued">
                <a href="/transfers/">and {{ notifications.length - 3 }} more...</a>
            </div>
		</div>
	</div>
</div>

<div ng-repeat="block in sideblocks" ng-include="block.template" ng-controller="{{ block.controller }}"></div>

<div class="column side desktop">
	<div class="box columnContent">
		<h4>Now Available</h4>
		<div class="boxContent">
			<div class="section">Feeds</div>
			<div class="nowAvailable">
				<a class="queue" href="/feeds/items/5/enqueue">
					<span class="fa-stack">
						<span class="fa fa-stack-2x fa-square"></span>
						<span class="fa fa-stack-1x fa-download"></span>
					</span>
				</a>
				<a class="available" href="/feeds/items/5">Grimm.S03E08.HDTV.x264-LOL.[VTV].mp4</a>
				<a class="queue" href="/feeds/items/5/enqueue">
					<span class="fa-stack">
						<span class="fa fa-stack-2x fa-square"></span>
						<span class="fa fa-stack-1x fa-download"></span>
					</span>
				</a>
				<a class="available" href="/feeds/1/items/5">Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4</a>
				<a class="queue" href="/feeds/items/5/enqueue">
					<span class="fa-stack">
						<span class="fa fa-stack-2x fa-square"></span>
						<span class="fa fa-stack-1x fa-download"></span>
					</span>
				</a>
				<a class="available" href="/feeds/1/items/5">Haven.S04E13.HDTV.x264-EXCELLENCE.[VTV].mp4</a>
			</div>
			<div class="section">Saved Searches</div>
			<div class="nowAvailable">
				<a class="queue" href="/feeds/items/5/enqueue">
					<span class="fa-stack">
						<span class="fa fa-stack-2x fa-square"></span>
						<span class="fa fa-stack-1x fa-download"></span>
					</span>
				</a>
				<a class="available" href="/feeds/items/5">Grimm.S03E08.HDTV.x264-LOL.[VTV].mp4</a>
				<a class="queue" href="/feeds/items/5/enqueue">
					<span class="fa-stack">
						<span class="fa fa-stack-2x fa-square"></span>
						<span class="fa fa-stack-1x fa-download"></span>
					</span>
				</a>
				<a class="available" href="/feeds/1/items/5">Hawaii.Five-0.2010.S04E10.HDTV.x264-LOL.[VTV].mp4</a>
				<a class="queue" href="/feeds/items/5/enqueue">
					<span class="fa-stack">
						<span class="fa fa-stack-2x fa-square"></span>
						<span class="fa fa-stack-1x fa-download"></span>
					</span>
				</a>
				<a class="available" href="/feeds/1/items/5">Haven.S04E13.HDTV.x264-EXCELLENCE.[VTV].mp4</a>
			</div>
		</div>
	</div>
</div>
