@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600);

a { color: #1A75AD; text-decoration: none; }
a:hover { color: #0B4584; }

html {
    height: 100%;
}
html, body {
	font-family: 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
	font-size: 13px;
	color: #444;
    min-height: 100%;
}

h1 {
	font-family: 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
	font-size: 28px; 
	font-weight: normal;
	color: #000;
	margin: 0 0 0.75em 0;
}

h2 {
	font-family: 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
	font-size: 20px; 
	font-weight: normal;
	padding-top: 10px;
	margin: 0 0 0.75em 0;
	color: #222;
}

h3 {
	font-family: 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
	font-size: 16px; 
	font-weight: normal;
	margin: 0;
	padding: 10px 5px;
	color: #222;
}

h4 {
	font-family: 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
	font-size: 14px; 
	padding: 5px;
	margin: 0;
	font-weight: normal;
	color: #222;
}

p {
	margin: 0 0 1em 0;
	line-height: 22px; 
}

code {
	font-family: "Consolas", "Courier New", monospace;
}

pre {
	margin: 0.5em 0 1em 0;
	overflow: auto;
	white-space: pre;
	background: #FAFAFA;
	padding: 10px;
	border: 1px solid #DDD;
    line-height: 19px;
	display: block;
}

pre, pre code {
	font-family: monospace;
}

input[type=text], input[type=password], select, textarea {
    border: 1px solid #999;
}

.clearfix:after { content: ' '; display: block; clear: both; visibility: hidden; }
#overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; }
.fade { background-color: #999; opacity: 0; }
.fade.active { opacity: 0.6; transition: opacity 150ms ease-out; -webkit-transition: opacity 150ms ease-out; }
.loading { position: absolute; }
.spinbox { width: 150px; height: 150px; margin: 200px auto; border-radius: 10px; background-color: rgba(180,180,180,.5); }

.unsupported { position: relative; margin-left: 200px; background-color: #FFC; padding: 5px 10px; border-right: 1px solid #CC9; border-bottom: 1px solid #CC9; }
.notice { position: relative; background-color: #FFC; margin-bottom: 10px; padding: 5px 10px; border: 1px solid #CC9; border-radius: 3px; }
.notice a { text-decoration: underline; }
.error { position: relative; background-color: #FCC; margin-bottom: 10px; padding: 5px 10px; border: 1px solid #C99; border-radius: 3px; }
.error a { text-decoration: underline; }

.mobile { display: none; }

/*
 * Colors
 */

/* UI accent colors */
.red-text { color: #D74B4B; }
.red-bg { color: white; background-color: #D74B4B; }
.green-text { color: #3CAC3C; }
.green-bg { color: white; background-color: #3CAC3C; }
.blue-text { color: #728dcb; }
.blue-bg { color: white; background-color: #728dcb; }
.yellow-text { color: #ffc550; }
.yellow-bg { color: white; background-color: #ffc550; }
.pink-text { color: #d66da8; }
.pink-bg { color: white; background-color: #d66da8; }

/* Layout scheme */
.darkblue { color: #354B5E; }
.darkblue-bg { background-color: #354B5E; }
.medblue { color: #475F77; }
.medblue-bg { background-color: #475F77; }
.medgray { color: #CCCCCC; }
.medgray-bg { background-color: #CCCCCC; }
.lightgray { color: #DCDDD8; }
.lightgray-bg { background-color: #DCDDD8; }

/*
 * Layout styles
 */

#header { position: relative; color: white; background-color: #354B5E; z-index: 2000; }
#header .desktop { position: relative; max-width: 1200px; }
#header a { color: #CCC; }
#header a:hover { color: #AAA; }
#logo { float: left; padding: 10px; }
#account { position: absolute; bottom: 5px; right: 10px; }

#navigation { position: relative; width: 200px; float: left; background-color: #DCDDD8; border-right: 1px solid #354B5E; border-bottom: 1px solid #354B5E; z-index: 2000; }
#navigation ul { list-style: none; padding: 0; margin: 0; }
#navigation ul li { padding: 0; border-top: 1px solid #CCC; }
#navigation ul li:first-child { padding: 0; border-top: none; }
#navigation ul li.active { background-color: #D74B4B; }
#navigation ul li.active a { color: white; }
#navigation ul li a { padding: 10px 40px 10px 10px; display: block; color: #444; }
#navigation h4 { color: #EEE; font-size: 11px; text-transform: uppercase; padding: 5px; margin: 0; background-color: #475F77; }
.unread { float: right; padding-top: 2px; color: #D74B4B; }
.invisible { opacity: 0; transition: opacity 1s linear 1s; -webkit-transition: opacity 1s linear 1s; }
.unread-count { color: white; font-size: 13px; font-weight: bold; }
#navigation ul li.active .unread { color: white; }
#navigation ul li.active .unread-count { color: #D74B4B; }
#header .unread { padding: 7px 7px 0; }
#header .unread .fa-lg { font-size: 36px; }
#header .unread-count { font-size: 18px; }

#content { position: relative; padding: 10px; margin-left: 200px; max-width: 1000px; }
.column { float: left; width: 50%; margin: 0; padding: 0; }
.column.main { float: left; width: 60%; margin: 0; padding: 0; }
.column.side { float: right; clear: right; width: 40%; margin: 0; padding: 0; }
.column.full { width: 100%; }
.column .columnContent { margin: 10px; }
.column.main .columnContent { margin: 10px; }
.column .columnContent h3 { background-color: #EEE; border-bottom: 1px solid #999; border-top: 1px solid #999; }
.column .columnContent .section { text-transform: uppercase; color: #666; font-size: 11px; font-weight: bold; padding: 2px 4px; border-bottom: 1px solid #CCC; }
.box { }
.box h3, .box h4 {
	color: white;
	background-color: #475F77;
	border-radius: 3px 3px 0 0; }
.boxContent { padding: 5px; position: relative; }
.box .boxContent {
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-radius: 0 0 3px 3px; }

.columnContent > a { float: right; text-transform: uppercase; font-size: 11px; margin: 2px 5px 0; text-decoration: underline; }
.columnContent > .button { float: right; font-size: 13px; margin: 5px; }
.button { background-color: #475F77; padding: 8px 20px; border-radius: 3px; }
.button:hover { background-color: #354B5E; }
.button, a.button, .button a { color: #FFF; }

.statusSummary { margin: 5px; }

.box .hostHeader .host { float: left; }
.box .hostHeader .ip { float: right; text-transform: uppercase; color: #CCC; font-size: 12px; padding: 1px 5px 0; font-weight: bold; }
.box .hostMetric { float: left; width: 33.333333333333%; color: white; }
.box .hostMetric .title { text-transform: uppercase; padding: 2px 0; margin: 0 10px; text-align: center; color: #FFF; font-size: 12px; font-weight: bold; border-bottom: 1px solid #FFF; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.box .hostMetric .value { padding: 5px; text-align: center; font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.box .hostMetric.download {
	background: #29b24b;
	background: -moz-linear-gradient(top,#60c179 0%, #29b24b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#60c179), color-stop(100%,#29b24b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #60c179 0%,#29b24b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #60c179 0%,#29b24b 100%); /* Opera 11.10+ */
}
.box .hostMetric.download .title { color: #060; border-bottom: 1px solid #060; }
.box .hostMetric.upload {
	background: #D74B4B;
	background: -moz-linear-gradient(top, #d66b6b 0%, #D74B4B 100%);
	background: -o-linear-gradient(top, #d66b6b 0%, #D74B4B 100%);
	background: -webkit-linear-gradient(top, #d66b6b 0%, #D74B4B 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d66b6b),color-stop(1, #D74B4B));
}
.box .hostMetric.upload .title { color: #600; border-bottom: 1px solid #600; }
.box .hostMetric.connections {
	background: #147fcc;
	background: -moz-linear-gradient(top, #5fb3ef 0%, #147fcc 100%);
	background: -o-linear-gradient(top, #5fb3ef 0%, #147fcc 100%);
	background: -webkit-linear-gradient(top, #5fb3ef 0%, #147fcc 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #5fb3ef),color-stop(1, #147fcc));
}
.box .hostMetric.connections .title { color: #006; border-bottom: 1px solid #006; }
.box .hostDisk { background-color: #DCDDD8; padding: 0 5px; border-radius: 0 0 3px 3px;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
.box .hostDisk .meter { background-color: #FFF; }
.box .hostDisk .title { float: left; width: 35%; margin: 5px 0; }
.box .hostDisk .free { float: right; width: 65%; margin: 5px 0; }

.queued { font-style: italic; }
.nowAvailable { margin-bottom: 10px; }
.nowAvailable a { display: block; margin: 5px; line-height: 24px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.nowAvailable a.queue { float: right; display: block; margin: 0 5px; color: #2bc253; }
.nowAvailable a.queue:hover { color: #29b24b; }
.nowAvailable a.queue .fa-download { color: #FFF; }
.nowAvailable:last-child { margin-bottom: 0; }

.notification { position: relative; margin: 5px 0; }
.notification:first-child { margin-top: 0; }
.notification:last-child { margin-bottom: 0; }
.notification a { padding: 0 5px; }
.notification .fa-check-circle { color: #1897f2; }
.notification .fa-exclamation-circle { color: #ffb219; }
.notification .fa-exclamation-triangle { color: #D74B4B; }
.notification .remove { position: absolute; top: 5px; right: 5px; color: #666; }
.notification .remove:hover { color: #444; }

.transferSummary .transfer { margin: 7px 0; }
.transferSummary .healthmeter { float: left; width: 3%; }
.transferSummary .health { height: 16px; width: 50%; }
.transferSummary .label { vertical-align: middle; float: left; width: 66%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.transferSummary .progress { float: right; font-size: 11px; width: 30%; text-align: center; font-weight: bold; }
.transferSummary .mediaType { font-style: italic; }
.transferSummary .date { font-size: 11px; padding: 3px 0 0; float: left; width: 50px; }
.transferSummary .imported { margin-left: 50px; }

.transferSummary.large .healthmeter { float: left; width: 15px; }
.transferSummary.large .label { width: auto; float: none; }
.transferSummary.large .size { float: right; padding: 0 10px; }
.transferSummary.large .media-type { float: right; padding: 0 10px; text-align: center; }
.transferSummary.large .progress { float: right; font-size: 11px; width: 120px; text-align: center; font-weight: bold; }
.transferSummary.large .upload { float: right; padding: 0 5px; width: 85px; }
.transferSummary.large .upload .fa-upload { color: #728dcb; margin: 0 5px 0 0; }
.transferSummary.large .download { float: right; padding: 0 5px; width: 85px; }
.transferSummary.large .download .fa-download { color: #3CAC3C; margin: 0 5px; }
.transferSummary.large .actions { float: right; font-size: 15px; padding: 0 5px; text-align: center; font-weight: bold; background-color: #EEE; border-radius: 3px; }
.transferSummary.large .actions span { vertical-align: baseline; padding: 0 2px; }
.transferSummary.large .actions .start { color: #666; }
.transferSummary.large .actions .start:hover { color: #3CAC3C; }
.transferSummary.large .actions .stop { color: #666; }
.transferSummary.large .actions .stop:hover { color: #D74B4B; }
.transferSummary.large .actions .remove { color: #D74B4B; }
.transferSummary.large .actions .remove:hover { color: #EE5C5C; }
.transferSummary.large .actions .disabled { color: #DCDDD8; }
.transferSummary.large .actions .disabled:hover { color: #DCDDD8; }
.transferSummary.large .eta { float: right; padding: 0 10px 0 5px; text-align: right; width: 80px; }
.transferSummary.large .eta .fa-clock-o { margin: 0 5px; }

.transfer-line.ng-enter, .transfer-line.ng-move {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:0;
}
.transfer-line.ng-enter.ng-enter-active, .transfer-line.ng-move.ng-move-active { opacity:1; }
.transfer-line.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.addDownload { width: 100%; }
.addDownload input[type=file] { display: none; }
.addDownload .label { position: relative; width: 25px; height: 51px; vertical-align: top; float: left; overflow: hidden; border-radius: 6px 0 0 6px; }
.addDownload .label div {
    position: absolute;
    width: 51px;
    height: 51px;
    padding: 0 5px;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.addDownload .addDownloadMethods { margin-left: 25px; }
.addDownload .addDownloadMethod { height: 26px; width: 100%; }
.addDownload .addDownloadMethod .addInput { height: 23px; border-bottom: 2px solid #3CAC3C; margin-right: 20%; }
.addDownload .addDownloadMethod:first-child .addInput { border-top: 2px solid #3CAC3C; border-bottom: 1px solid #999; }
.addDownload .addDownloadMethod input[type=text] { height: 19px; width: 98%; display: block; border: 0; margin: 0; padding: 2px 4px; }
.addDownload .addDownloadMethod a {
    display: block;
    float: right;
    width: 20%;
    font-size: 13px;
    padding: 2px 0;
    line-height: 21px;
    border-radius: 0 0 6px 0;
    text-align: center;
}
.addDownload .addDownloadMethod a:hover { color: #fff; }
.addDownload .addDownloadMethod:first-child a { border-radius: 0 6px 0 0; border-bottom: 1px solid #060; }

#footer { margin: 0 auto; text-align: center; color: #999; }

/* Mobile phones */
@media screen and (max-device-width: 480px) {

	.desktop { display: none; }
	.mobile { display: block; }

	#header { position: fixed; top: 0; left: 0; width: 100%; }
	#header h1 { float: left; font-size: 18px; color: #666; margin: 0; padding: 13px 10px 11px 10px; color: white; }

	#menutoggle { float: left; }
	#menutoggle.ng-click-active { background-color: #999; }
	#menu { position: relative; width: 20px; font-size: 20px; height: 30px; padding: 8px 10px 0; float: left; }
	#menu img { position: absolute; top: 10px; left: 15px; width: auto; height: 30px; display: inline; vertical-align: top; }
	#menu span { position: absolute; top: 14px; font-size: 22px; left: -9px; }

	#navigation { position: fixed; float: none; top: 48px; left: -230px; font-size: 16px; width: 225px;
		border: 0; -moz-box-shadow: 4px 4px 4px #999; -webkit-box-shadow: 4px 4px 4px #999;
		box-shadow: 4px 4px 4px #999; transition: left 150ms ease-out; -webkit-transition: left 150ms ease-out; }
    #navigation.open { left: 0; }
	#navigation ul li a { padding: 10px 40px 10px 15px; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
	#navigation h4 { font-size: 13px; }

	#content { margin-top: 48px; padding: 0; margin-left: 0; }
	.column, .column.main, .column.side, .column.full { width: 100%; }
	.column .columnContent { margin: 10px 0; font-size: 16px; }
	.column.main .columnContent { margin: 10px 5px 20px; }
	.column .columnContent h3 { border-bottom: 1px solid #999; border-top: 1px solid #999; }
	.column .columnContent h4 { border-bottom: 1px solid #999; border-top: 1px solid #999; }
	.box { border: none; border-radius: 0; }
	.boxContent { padding: 5px; background-color: #FFF; border-radius: 0; }

	.transferSummary .transfer { margin: 10px 0; }
	.transferSummary .progress .meter { height: 20px; }
	.transferSummary .progress .meter div { font-size: 15px; }
	.transferSummary .healthmeter { width: 5%; }
	.transferSummary .label { width: 64%; }
	.transferSummary .date { font-size: 13px; }
}

/* Small tablets / landscape phones */
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {

	#navigation { width: 150px; }
	.column { width: 100%; }
	#content { margin-left: 150px; }

}

/* Large tablets */
@media screen and (min-device-width: 768px) and (max-device-width: 1079px) {

}
