<div class="column full" ng-controller="TransferList">

    <div class="columnContent desktop">
        <div class="addDownload clearfix">
            <div class="label green-bg"><div>Add</div></div>
            <div class="addDownloadMethods">
                <div class="addDownloadMethod">
                    <form ng-submit="submit()" ng-controller="TransferAddURL">
                        <a class="submit green-bg" ng-click="submit()" href="#">Fetch URL</a>
                        <div class="addInput">
                            <input type="text" name="url" value="" ng-model="url" placeholder="URL to download (magnet or http)" />
                        </div>
                    </form>
                </div>
                <div class="addDownloadMethod uploadMetadata">
                    <form enctype="multipart/form-data" ng-submit="submit()" ng-controller="TransferAddTorrent">
                        <a class="submit green-bg" href="#">Upload</a>
                        <div class="addInput">
                            <input type="file" id="metadata-upload" name="metadata" />
                            <input type="text" id="metadata-proxy" readonly="1" placeholder="Select torrent file" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="columnContent">
        <div class="section">Downloading</div>
        <div class="boxContent">
            <div class="transferSummary large">
                <div class="transfer-line" ng-repeat="transfer in downloads" ng-include="'/resources/templates/transfers/transfer-progress-large.html'"></div>
                <div class="transfer-line" ng-repeat="transfer in queued" ng-include="'/resources/templates/transfers/transfer-progress-large.html'"></div>
            </div>
        </div>
    </div>

    <div class="columnContent">
        <div class="section">Seeding</div>
        <div class="boxContent">
            <div class="transferSummary large">
                <div class="transfer-line" ng-repeat="transfer in uploads.slice(0,3)" ng-include="'/resources/templates/transfers/transfer-progress-large.html'"></div>
                <div ng-show="uploads.length > 3" class="queued">
                    <a href="/transfers/uploads">and {{ uploads.length - 3 }} more...</a>
                </div>
            </div>
        </div>
    </div>

    <div class="columnContent">
        <div class="section">Recently Completed</div>
        <div class="boxContent">
            <div class="transferSummary">
                <div class="transfer-line" ng-repeat="transfer in completed.slice(0,5)" class="transfer clearfix">
                    <div class="label"><a ng-href="/transfers/{{ transfer.id }}">{{ transfer.description }}</a></div>
                </div>
                <div ng-show="completed.length > 5" class="queued">
                    <a href="/transfers/completed">and {{ completed.length - 5 }} more...</a>
                </div>
            </div>
        </div>
    </div>

</div>
