<h4 class="hostHeader lightgray-bg clearfix">
    <span class="host">{{ host.host }}</span>
    <span class="ip">IP: {{ host.address }}</span>
</h4>
<ng-include src="'/resources/templates/common/host-stats-bandwidth.html'"></ng-include>
<div class="hostDisk clearfix">
    <div class="title">Media Volume</div>
    <div class="free">
        <div class="meter nostripes" ng-class="{ yellow: host.diskfreepct > 70, red: host.diskfreepct > 90 }">
            <span style="width: {{ host.diskfreepct }}%;"></span><div>{{ host.diskfreepct }}% Free ({{ host.diskfree|bytes }})</div>
        </div>
    </div>
</div>
