<h4 class="hostHeader lightgray-bg clearfix">
    <span class="host">media-center</span>
    <span class="ip">IP: 46.246.38.178</span>
</h4>
<div class="clearfix">
    <div class="hostMetric download">
        <div class="title">Downloads</div>
        <div class="value">2.3 MB/s</div>
    </div>
    <div class="hostMetric upload">
        <div class="title">Uploads</div>
        <div class="value">25.6 KB/s</div>
    </div>
    <div class="hostMetric connections">
        <div class="title">Connections</div>
        <div class="value">198</div>
    </div>
</div>
<div class="hostDisk clearfix">
    <div class="title">Media Volume</div>
    <div class="free">
        <div class="meter nostripes">
            <span style="width: 40%;"></span><div>60% Free (600 GB)</div>
        </div>
    </div>
</div>
